*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Kumbh Sans" sans-serif;
}
.main{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 450px;
    width: 900px;
    background-color: #fff;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pattern-mobile , .mobile-wm{
    display: none;
}
.left-side{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.desktop{
    position: absolute;
    transform: translate(-580px, -280px);
}
.women-desktop{
    position: absolute;
    z-index: 1;
    transform: translate(-85px,100px);
}
.box{
    position: absolute;
    z-index: 2;
    transform: translate(-93px,230px);
}
.pattern-mobile{
    width: 100%;
    position: absolute;
    top: 250px;
    left: 72px;
}
.questions-side{
    width: 100%;
    padding: 80px 90px 0 20px;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.questions-side ul{
    list-style-type: none;
    padding-left: 0;
}
.questions-side ul li{
    border-bottom: 1px solid hsl(240, 73%, 65%);
}
.question{
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.question:hover{
    cursor: pointer;
    color: hsl(240, 6%, 50%);
}
.arrow{
    margin-left: auto;
}
.answer{
    margin-top: 0;
    color: hsl(240, 6%, 50%);
    display: none;
}